# Week 4 | Joining data, SQL, RegEx

In [218]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import sqlite3 as sql
import re

## Joining Data
Using the newly created `.csv` file: `cleaned_cell_phone_data.csv` from the previous homework which we have produced we can analyze the number of cell phones per capita using the given `.csv` file "`pop_data.csv`. First we have to clean up the data in said `.csv` file.

In [219]:
cleaned_cell_phone_data_all_years = pd.read_csv("cleaned_cell_phone_data_all_years.csv")
cleaned_cell_phone_data_2015_onwards = pd.read_csv("cleaned_cell_phone_data.csv")

cell_phone_data = pd.read_csv("cell_phones_total.csv", sep=",")

country_data = pd.read_csv("country_data.csv", sep=",")

pop_data = pd.read_csv("pop_data.csv", sep=",")

In [220]:
pop_data = pop_data.dropna()
# Forward fill missing values
df_pop_ffill = pop_data.ffill()

# Backfill missing values
df_pop_bfill = pop_data.bfill()
pop_data

,Unnamed: 0,iso-3,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,0,ABW,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,59291.0,59522.0,...,101288.0,102112.0,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0
1,1,AFE,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,153955516.0,158313235.0,...,537792950.0,552530654.0,567892149.0,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0
2,2,AFG,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,9783147.0,10010030.0,...,29249157.0,30466479.0,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0
3,3,AFW,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,110798486.0,113319950.0,...,366489204.0,376797999.0,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0
4,4,AGO,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,5787044.0,5827503.0,...,24259111.0,25188292.0,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,261,XKX,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,1106000.0,1135000.0,...,1791000.0,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0
262,262,YEM,5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,6228430.0,6368014.0,...,25475610.0,26223391.0,26984002.0,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0
263,263,ZAF,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,19789771.0,20410677.0,...,52443325.0,53145033.0,53873616.0,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0
264,264,ZMB,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,3777680.0,3901288.0,...,14265814.0,14744658.0,15234976.0,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0
265,265,ZWE,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,4588529.0,4734694.0,...,13025785.0,13265331.0,13555422.0,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0

In [248]:
# Clean the population data by dropping unnecessary columns and melting it
pop_data_cleaned = pop_data.drop(columns=['Unnamed: 0'])  # Drop the 'Unnamed: 0' column
df_pop_melted = pd.melt(pop_data_cleaned, id_vars=['iso-3'], var_name='year', value_name='population')

# Clean the cell phone data: remove shorthand suffixes and convert to numeric
def clean_shorthand(value):
    if isinstance(value, str):
        value = value.replace('k', 'e3').replace('M', 'e6')  # Replace 'k' with e3, 'M' with e6
        try:
            return float(eval(value))  # Evaluate the expression safely
        except:
            return None
    return value

cell_phones_data_cleaned = cell_phone_data.copy()
cell_phones_data_cleaned.iloc[:, 1:] = cell_phone_data.iloc[:, 1:].applymap(clean_shorthand)

# Melt the cleaned cell phone data
df_phones_melted = pd.melt(cell_phones_data_cleaned, id_vars=['iso-3'], var_name='year', value_name='n_cellphones')

# Merge the melted population and cell phone data
merged_data = pd.merge(df_phones_melted, df_pop_melted, on=['iso-3', 'year'], how='inner')

# Merge with the country data to include additional metadata
merged_data_all = pd.merge(merged_data, country_data, left_on='iso-3', right_on='alpha-3', how='inner')

# Drop redundant columns and clean up the result
merged_data_all.drop(columns=['alpha-3'], inplace=True)

merged_data_all[["iso-3", "year", "n_cellphones", "population"]].head(5)

/var/folders/f8/vyrq4n955xn83lyb4_6x36h00000gn/T/ipykernel_5115/1230510268.py:16: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  cell_phones_data_cleaned.iloc[:, 1:] = cell_phone_data.iloc[:, 1:].applymap(clean_shorthand)

  iso-3  year n_cellphones  population
0   ABW  1960          0.0     54608.0
1   AFG  1960          0.0   8622466.0
2   AGO  1960          0.0   5357195.0
3   ALB  1960          0.0   1608800.0
4   AND  1960          0.0      9443.0

In [228]:
merged_data_all['phones_per_capita'] = merged_data_all['n_cellphones'] / merged_data_all['population']

phones_per_capita_df = merged_data_all.pivot(index='year', columns='name', values='phones_per_capita')

phones_per_capita_df

name,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Virgin Islands (British),Virgin Islands (U.S.),Yemen,Zambia,Zimbabwe
year,,,,,,,,,,,,,,,,,,,,,
1960,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1965,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1975,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1976,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1977,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1978,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1979,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1980,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1981,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1982,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1983,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1985,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1986,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1987,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1988,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000096,0.0,NaN,0.0,0.0,0.0,0.0
1989,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0.000072,0.0,0.0,...,0.0,0.0,0.0,0.000191,0.0,NaN,0.0,0.0,0.0,0.0
1990,0.0,0.0,0.000018,0.0,0.0,0.0,0.0,0.000368,0.0,0.0,...,0.0,0.0,0.0,0.000376,0.0,0.0,0.0,0.0,0.0,0.0
1991,0.0,0.0,0.000183,0.0,0.0,0.0,NaN,0.000755,0.0,0.0,...,0.0,0.0,0.0,0.000821,0.0,NaN,NaN,0.0,0.0,0.0
1992,0.0,0.0,0.000179,0.013978,0.013442,0.0,NaN,0.001388,0.0,0.000285,...,0.000542,0.0,0.0,0.003797,0.000011,NaN,NaN,0.000107,0.0,0.0
1993,0.0,0.0,0.000175,0.017587,0.013185,0.000084,NaN,0.003291,0.0,NaN,...,0.001567,0.000023,0.0,0.008643,0.000057,NaN,NaN,0.000345,0.0,0.0
1994,0.0,0.0,0.000048,0.02295,0.012845,0.000135,NaN,0.006988,0.0,NaN,...,0.002141,0.00004,0.000384,0.014741,0.000172,NaN,NaN,0.000527,0.0,0.0
1995,0.0,0.0,0.000165,0.023408,0.044972,0.000143,NaN,0.011589,0.0,0.022323,...,0.012436,0.000164,0.000709,0.018275,0.000319,NaN,NaN,0.000512,0.000178,0.0
1996,0.0,0.000726,0.000404,0.023853,0.085585,0.000229,0.018625,0.018847,0.000091,0.037775,...,0.02436,0.000409,0.000881,0.025784,0.000919,0.066225,NaN,0.00053,0.000306,0.0
1997,0.0,0.001048,0.00059,0.02519,0.133267,0.000474,0.019658,0.05612,0.001528,0.041535,...,0.030569,0.000727,0.001157,0.046446,0.002104,NaN,0.14766,0.000713,0.000498,0.000504
1998,0.0,0.00179,0.000602,0.0265,0.216304,0.000639,0.020669,0.073689,0.002416,0.063778,...,0.046281,0.001114,0.001202,0.085518,0.002891,NaN,0.230336,0.000914,0.000881,0.001645
1999,0.0,0.003538,0.002373,0.031253,0.313761,0.001512,0.115143,0.105039,0.002545,0.138142,...,0.097287,0.001662,0.001601,0.157717,0.004211,NaN,0.276246,0.001529,0.002931,0.014851
2000,0.0,0.009647,0.002795,0.034175,0.355538,0.001574,0.293118,0.175071,0.005523,0.168348,...,0.12484,0.002154,0.0019,0.223107,0.009987,NaN,0.322159,0.001718,0.009999,0.022476
2001,0.0,0.128424,0.003205,0.037034,0.4335,0.004427,0.328019,0.179827,0.008139,0.584402,...,0.157531,0.005127,0.001776,0.260046,0.015661,NaN,0.37771,0.007731,0.011872,0.026362
2002,0.00119,0.278924,0.014229,0.035065,0.462956,0.007993,0.494851,0.173419,0.022963,0.673342,...,0.155454,0.0074,0.024242,0.258182,0.023561,0.375799,0.415634,0.02477,0.013228,0.028286
2003,0.008832,0.361888,0.045234,0.036244,0.702234,0.019311,0.590458,0.204817,0.036964,0.755116,...,0.150444,0.012555,0.037634,0.272283,0.03363,NaN,0.454357,0.033434,0.022237,0.030143
2004,0.025474,0.416262,0.150107,0.039045,0.759102,0.039422,0.684055,0.349119,0.066216,1.051956,...,0.181061,0.021033,0.04943,0.321044,0.060259,NaN,0.591891,0.071382,0.041473,0.03503
2005,0.049158,0.508055,0.415697,NaN,0.80926,0.082772,1.076763,0.568204,0.104357,1.090143,...,0.346629,0.027516,0.058355,0.468713,0.115345,NaN,0.740413,0.106938,0.082145,0.052925
2006,0.099045,0.638252,0.628083,NaN,0.860124,0.151272,1.359787,0.797936,0.416324,1.140096,...,0.701325,0.095514,0.067288,0.693674,0.225129,NaN,NaN,0.135662,0.138662,0.068854
2007,0.180286,0.78114,0.812151,NaN,0.812353,0.237211,1.365587,1.013138,0.62575,1.177844,...,0.901266,0.211776,0.113863,0.864665,0.530897,0.821722,NaN,0.192125,0.212868,0.098791
2008,0.298934,0.631083,0.781033,NaN,0.844126,0.312104,1.645626,1.154598,0.482667,1.234744,...,1.052119,0.454166,0.153878,0.980889,0.875028,0.88072,NaN,0.27648,0.275423,0.13147
2009,0.383417,0.840302,0.929082,NaN,0.873368,0.360322,1.596991,1.290423,0.738793,1.290167,...,1.22901,0.590621,0.550714,0.991955,1.135484,1.737909,NaN,0.345824,0.331129,0.314673
2010,0.361835,0.92344,0.914761,NaN,0.915841,0.402325,1.960441,1.399906,1.313515,1.315514,...,1.324325,0.735232,0.692597,0.971617,1.281303,1.723763,NaN,0.448595,0.395154,0.599699
2011,0.471808,1.067054,0.97418,NaN,0.92111,0.498782,2.02931,1.471105,1.095946,NaN,...,1.415977,0.86573,0.545178,0.989821,1.437479,1.666547,NaN,0.459263,0.571997,0.706291
2012,0.502191,1.20673,1.006426,NaN,0.899835,0.508173,1.448548,1.540737,1.139163,1.322078,...,1.483181,0.681791,0.567402,1.038329,1.478142,1.713522,NaN,0.530061,0.712122,0.949844
2013,0.532637,1.274571,1.039457,NaN,0.895372,0.508663,1.288179,1.597045,1.154621,1.351089,...,1.558627,0.710904,0.481911,1.035591,1.373691,1.863419,NaN,0.622591,0.68264,1.003289
2014,0.562412,1.16299,1.117126,NaN,0.92431,0.519752,1.344749,1.43428,1.197261,1.35143,...,1.621624,0.702263,0.577934,1.010159,1.490648,1.891547,NaN,0.616143,0.641767,0.851632
2015,0.583643,1.180267,1.092477,NaN,0.993784,0.494174,1.956838,1.432812,1.201975,1.352427,...,1.519329,0.69651,0.633053,0.95317,1.30164,1.947831,NaN,0.52601,0.713924,0.904278
2016,0.623625,1.171725,1.165116,NaN,1.049076,0.445897,1.987545,1.461332,1.196859,NaN,...,1.49981,0.731602,0.773256,0.89781,1.299308,1.334947,NaN,0.560224,0.715659,0.892567
2017,0.670531,1.263287,1.113365,NaN,1.087531,0.440272,2.019337,1.405387,1.223736,NaN,...,1.490269,0.750264,0.785559,0.801612,1.276147,1.463739,NaN,0.512746,0.774654,0.955861
2018,0.599671,0.945445,1.125766,NaN,1.101142,0.42528,NaN,1.317017,1.262093,NaN,...,1.50859,0.703967,0.844271,0.694033,1.48555,1.318609,NaN,0.496906,0.869034,0.857018
2019,0.598366,0.921452,1.102906,NaN,1.151383,0.457445,NaN,1.303998,1.283414,NaN,...,1.394233,0.994629,0.870554,0.572973,1.419969,NaN,NaN,NaN,0.935775,0.859677

In [249]:
# Ensure the entire Series for the year 2019 is numeric before using nlargest()
phones_2019_numeric = phones_per_capita_df.loc[2019].dropna().apply(pd.to_numeric, errors='coerce')

# Identify the top 5 countries with the highest phones per capita in 2019
top_5_countries_2019 = phones_2019_numeric.nlargest(5).index

# Filter the DataFrame for the top 5 countries over the years 2015 to 2019
filtered_phones_per_capita_df = phones_per_capita_df.loc[2015:2019, top_5_countries_2019]

filtered_phones_per_capita_df

KeyError: 2019

## SQL

In [ ]:
conn = sql.connect("user_actions.db")  # Ensure the correct path to the database file
cursor = conn.cursor()

In [ ]:
query = """
SELECT * 
FROM user_actions
WHERE action = "signup"
"""

cursor.execute(query)
pd.read_sql_query(query, conn)

    user_id username             email  action            timestamp
0        34   user34  user34@email.com  signup  2015-02-04 14:38:47
1        28   user28  user28@email.com  signup  2015-03-09 11:55:33
2         1    user1   user1@email.com  signup  2015-11-06 08:07:13
3        24   user24  user24@email.com  signup  2015-12-11 15:25:07
4        15   user15  user15@email.com  signup  2016-04-03 16:12:11
5        20   user20  user20@email.com  signup  2016-05-28 16:40:00
6        18   user18  user18@email.com  signup  2016-06-01 08:27:40
7        25   user25  user25@email.com  signup  2016-06-16 15:50:18
8         3    user3   user3@email.com  signup  2016-06-28 13:28:53
9         9    user9   user9@email.com  signup  2016-09-09 12:14:19
10       27   user27  user27@email.com  signup  2017-03-09 16:07:56
11       16   user16  user16@email.com  signup  2017-07-02 12:39:40
12       17   user17  user17@email.com  signup  2018-01-17 14:50:35
13        4    user4   user4@email.com  signup  2018-01-25 14:39:43
14        8    user8   user8@email.com  signup  2018-04-15 11:49:50
15       13   user13  user13@email.com  signup  2019-02-09 16:28:23
16       19   user19  user19@email.com  signup  2019-04-21 08:16:04
17       31   user31  user31@email.com  signup  2019-06-14 16:34:41
18       10   user10  user10@email.com  signup  2019-07-08 08:02:14
19       23   user23  user23@email.com  signup  2019-09-30 08:23:32
20       11   user11  user11@email.com  signup  2019-10-27 13:36:53
21       33   user33  user33@email.com  signup  2020-04-27 08:34:28
22       12   user12  user12@email.com  signup  2020-05-07 09:15:09
23       29   user29  user29@email.com  signup  2020-10-03 08:11:41
24       21   user21  user21@email.com  signup  2021-02-23 14:56:50
25        6    user6   user6@email.com  signup  2021-06-13 12:32:33
26       14   user14  user14@email.com  signup  2021-08-12 14:28:59
27       30   user30  user30@email.com  signup  2021-11-15 08:41:50
28        7    user7   user7@email.com  signup  2021-12-19 17:24:55
29       26   user26  user26@email.com  signup  2021-12-31 08:27:28
30       22   user22  user22@email.com  signup  2022-07-27 11:49:56
31        5    user5   user5@email.com  signup  2022-08-19 13:13:23
32       35   user35  user35@email.com  signup  2022-08-26 08:53:44
33        2    user2   user2@email.com  signup  2022-11-05 14:40:57
34       32   user32  user32@email.com  signup  2022-11-28 11:50:55

In [ ]:
query = """
SELECT user_id, username, COUNT(*) as log_counts
FROM user_actions
GROUP BY user_id, username
ORDER BY log_counts DESC;
"""
cursor.execute(query)
pd.read_sql_query(query, conn)

    user_id username  log_counts
0        13   user13         470
1         6    user6         457
2         4    user4         436
3        35   user35         394
4        31   user31         389
5        16   user16         379
6        17   user17         367
7         7    user7         362
8        20   user20         362
9         8    user8         329
10       11   user11         328
11       21   user21         323
12       14   user14         320
13       23   user23         309
14       22   user22         275
15       26   user26         217
16       27   user27         211
17       12   user12         209
18        5    user5         192
19       34   user34         180
20       10   user10         170
21       30   user30         165
22       24   user24         162
23        2    user2         149
24       25   user25         136
25       18   user18         122
26        9    user9         118
27        3    user3         108
28        1    user1         104
29       28   user28          91
30       19   user19          58
31       29   user29          49
32       15   user15          35
33       32   user32          32
34       33   user33          32

In [ ]:
query = """
SELECT DISTINCT a.user_id, a.username        -- two instances
FROM user_actions a
JOIN user_actions b
ON a.user_id = b.user_id
   AND DATE(a.timestamp) = DATE(b.timestamp)
WHERE a.action = 'signup' AND b.action = 'login';
"""

cursor.execute(query)
pd.read_sql_query(query, conn)

   user_id username
0        8    user8
1       12   user12
2       30   user30
3        7    user7
4       22   user22
5        5    user5
6        2    user2
7       32   user32

## RegEx

In [ ]:
with open("comments.txt", "r") as comments:
    content = comments.readlines() # open and read line by line

In [ ]:
first_comment = content[0]

pattern_hashtags = r'#\w+' # same as '\#\w+'

hashtags = re.findall(pattern_hashtags, first_comment)

print(hashtags)

['#programming', '#tips']

In [ ]:
# fetch 2nd comment
second_comment = content[1]

pattern_prog_python = r'(?=.*#programming)(?=.*#python)'

# find all cases of pattern above being present in the second comment
programming_python_hashtags = re.findall(pattern_prog_python, second_comment)

if pattern_prog_python not in second_comment:
    print("The hashtags 'programming' and 'python' are not in the second comment.")
else:
    print("The hashtags 'programming' and 'python' are in the second comment.")

The hashtags 'programming' and 'python' are not in the second comment.

In [ ]:
# join all comments into one large string so as to treat each comment as a single text block
all_comments = ' '.join(content)

# Find and deduplicate hashtags
hashtags = set(re.findall(pattern_hashtags, all_comments))

print(sorted(hashtags)) # sort alphabetically

['#analysis', '#analytics', '#coding', '#data', '#innovation', '#insights', '#programming', '#python', '#research', '#tech', '#tips']