# Week 3
## Video 
https://www.youtube.com/watch?v=xi0vhXFPegw&t=951s&ab_channel=RobMulla

In [79]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
plt.style.use('ggplot')
pd.set_option('display.max_columns', 2000) # show all columns, without ...
pd.set_option('display.max_rows', 2000)

In [80]:
df = pd.read_csv("systembolaget2019-10-30.csv")

In [81]:
df.shape

(18516, 30)

In [82]:
df.head(2)

,nr,Artikelid,Varnummer,Namn,Namn2,Prisinklmoms,Volymiml,PrisPerLiter,Saljstart,Utgått,Varugrupp,Typ,Stil,Forpackning,Forslutning,Ursprung,Ursprunglandnamn,Producent,Leverantor,Argang,Provadargang,Alkoholhalt,Sortiment,SortimentText,Ekologisk,Etiskt,Koscher,RavarorBeskrivning,Pant,EtisktEtikett
0,101,1,1,Renat,NaN,204.0,700.0,291.43,1993-10-01,0,Vodka och Brännvin,Vodka,NaN,Flaska,NaN,NaN,Sverige,Pernod Ricard,Pernod Ricard Sweden AB,NaN,NaN,37.50%,FS,Ordinarie sortiment,0,0,0,Säd.,NaN,NaN
1,7548901,1000008,75489,Valtellina Superiore,Sassella Riserva,383.0,750.0,510.67,2015-09-01,0,Rött vin,NaN,NaN,Flaska,NaN,Lombardiet,Italien,Arpepe,Vinoliv Import AB,2015.0,NaN,13.50%,BS,Övrigt sortiment,0,0,0,NaN,NaN,NaN

In [83]:
df.columns

Index(['nr', 'Artikelid', 'Varnummer', 'Namn', 'Namn2', 'Prisinklmoms',
       'Volymiml', 'PrisPerLiter', 'Saljstart', 'Utgått', 'Varugrupp', 'Typ',
       'Stil', 'Forpackning', 'Forslutning', 'Ursprung', 'Ursprunglandnamn',
       'Producent', 'Leverantor', 'Argang', 'Provadargang', 'Alkoholhalt',
       'Sortiment', 'SortimentText', 'Ekologisk', 'Etiskt', 'Koscher',
       'RavarorBeskrivning', 'Pant', 'EtisktEtikett'],
      dtype='object')

In [84]:
df.dtypes

nr                      int64
Artikelid               int64
Varnummer               int64
Namn                   object
Namn2                  object
Prisinklmoms          float64
Volymiml              float64
PrisPerLiter          float64
Saljstart              object
Utgått                  int64
Varugrupp              object
Typ                    object
Stil                   object
Forpackning            object
Forslutning            object
Ursprung               object
Ursprunglandnamn       object
Producent              object
Leverantor             object
Argang                float64
Provadargang          float64
Alkoholhalt            object
Sortiment              object
SortimentText          object
Ekologisk               int64
Etiskt                  int64
Koscher                 int64
RavarorBeskrivning     object
Pant                  float64
EtisktEtikett          object
dtype: object

In [85]:
df.describe()

,nr,Artikelid,Varnummer,Prisinklmoms,Volymiml,PrisPerLiter,Utgått,Argang,Provadargang,Ekologisk,Etiskt,Koscher,Pant
count,1.851600e+04,1.851600e+04,18516.000000,18516.000000,18516.000000,18516.000000,18516.000000,10157.000000,0.0,18516.000000,18516.000000,18516.000000,774.000000
mean,6.146516e+06,8.828735e+06,61465.135936,439.668703,828.436109,573.100001,0.000270,2014.036920,NaN,0.103586,0.003456,0.001404,30.822610
std,3.244501e+06,9.249851e+06,32445.014828,1645.525706,1765.333610,1986.402027,0.016431,5.970166,NaN,0.304731,0.058692,0.037447,133.218341
min,1.010000e+02,1.000000e+00,1.000000,8.000000,0.000000,0.000000,0.000000,1931.000000,NaN,0.000000,0.000000,0.000000,0.600000
25%,3.351756e+06,8.318680e+05,33517.500000,95.000000,500.000000,129.627500,0.000000,2014.000000,NaN,0.000000,0.000000,0.000000,1.000000
50%,7.454551e+06,3.223152e+06,74545.500000,189.000000,750.000000,253.330000,0.000000,2016.000000,NaN,0.000000,0.000000,0.000000,1.000000
75%,8.222826e+06,1.779738e+07,82228.250000,388.250000,750.000000,532.000000,0.000000,2017.000000,NaN,0.000000,0.000000,0.000000,1.000000
max,5.010290e+07,2.442192e+07,501029.000000,66184.000000,30000.000000,94548.570000,1.000000,2019.000000,NaN,1.000000,1.000000,1.000000,625.000000

## Data preparation

Say we want to know the top 5 most popular alchohol being sold at Systembolaget. We also want to know that types average price.

In [86]:
df[[
    # 'nr', 'Artikelid', 'Varnummer', 'Namn', 'Namn2', 
       'Prisinklmoms',
    #   'Volymiml', 'PrisPerLiter', 'Saljstart', 'Utgått', 'Varugrupp', 
       'Typ',
    #   'Stil', 'Forpackning', 'Forslutning', 'Ursprung', 'Ursprunglandnamn',
    #   'Producent', 'Leverantor', 'Argang', 'Provadargang', 'Alkoholhalt',
    #   'Sortiment', 'SortimentText', 'Ekologisk', 'Etiskt', 'Koscher',
    #   'RavarorBeskrivning', 'Pant', 'EtisktEtikett'
    ]].copy()

       Prisinklmoms                 Typ
0             204.0               Vodka
1             383.0                 NaN
2             169.0  Fylligt & Smakrikt
3             199.0                 NaN
4              26.7          Ljus lager
...             ...                 ...
18511        3999.0          Maltwhisky
18512          99.0                 NaN
18513         179.0            Bärlikör
18514         179.0            Bärlikör
18515         465.0                 NaN

[18516 rows x 2 columns]

Alternatively, for a single or very few columns

In [87]:
# df.drop(['Stil'], axis = 1) # drop Stil column (axis = 1)

In [88]:
pd.to_datetime(df['Saljstart']) # force the dtype to be a date

0       1993-10-01
1       2015-09-01
2       2015-09-01
3       2015-09-01
4       2015-09-01
           ...
18511   2015-09-01
18512   2015-09-01
18513   2015-09-01
18514   2015-09-01
18515   2015-09-01
Name: Saljstart, Length: 18516, dtype: datetime64[ns]

In [89]:
pd.to_numeric(df['Pant'])

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
18511   NaN
18512   NaN
18513   NaN
18514   NaN
18515   NaN
Name: Pant, Length: 18516, dtype: float64

In [90]:
df.columns

Index(['nr', 'Artikelid', 'Varnummer', 'Namn', 'Namn2', 'Prisinklmoms',
       'Volymiml', 'PrisPerLiter', 'Saljstart', 'Utgått', 'Varugrupp', 'Typ',
       'Stil', 'Forpackning', 'Forslutning', 'Ursprung', 'Ursprunglandnamn',
       'Producent', 'Leverantor', 'Argang', 'Provadargang', 'Alkoholhalt',
       'Sortiment', 'SortimentText', 'Ekologisk', 'Etiskt', 'Koscher',
       'RavarorBeskrivning', 'Pant', 'EtisktEtikett'],
      dtype='object')

In [94]:
df = df.rename(columns={'Volymiml':'Volym_i_ml'
                   ,'Prisinklmoms':'Pris_inkl_moms'}) # and so on

In [95]:
df.head(3)

,nr,Artikelid,Varnummer,Namn,Namn2,Pris_inkl_moms,Volym_i_ml,PrisPerLiter,Saljstart,Utgått,Varugrupp,Typ,Stil,Forpackning,Forslutning,Ursprung,Ursprunglandnamn,Producent,Leverantor,Argang,Provadargang,Alkoholhalt,Sortiment,SortimentText,Ekologisk,Etiskt,Koscher,RavarorBeskrivning,Pant,EtisktEtikett
0,101,1,1,Renat,NaN,204.0,700.0,291.43,1993-10-01,0,Vodka och Brännvin,Vodka,NaN,Flaska,NaN,NaN,Sverige,Pernod Ricard,Pernod Ricard Sweden AB,NaN,NaN,37.50%,FS,Ordinarie sortiment,0,0,0,Säd.,NaN,NaN
1,7548901,1000008,75489,Valtellina Superiore,Sassella Riserva,383.0,750.0,510.67,2015-09-01,0,Rött vin,NaN,NaN,Flaska,NaN,Lombardiet,Italien,Arpepe,Vinoliv Import AB,2015.0,NaN,13.50%,BS,Övrigt sortiment,0,0,0,NaN,NaN,NaN
2,7563901,1000083,75639,Viña Soledad,Tête de Cuvée Reserva,169.0,750.0,225.33,2015-09-01,0,Vitt vin,Fylligt & Smakrikt,NaN,Flaska,Naturkork,Rioja,Spanien,Bodegas Franco-Españolas,Terrific Wines AB,2006.0,NaN,12.00%,BS,Övrigt sortiment,0,0,0,Viura.,NaN,NaN

In [ ]:
df.isna() # true if there is a null value

,nr,Artikelid,Varnummer,Namn,Namn2,Pris_inkl_moms,Volym_i_ml,PrisPerLiter,Saljstart,Utgått,Varugrupp,Typ,Stil,Forpackning,Forslutning,Ursprung,Ursprunglandnamn,Producent,Leverantor,Argang,Provadargang,Alkoholhalt,Sortiment,SortimentText,Ekologisk,Etiskt,Koscher,RavarorBeskrivning,Pant,EtisktEtikett
0,False,False,False,False,True,False,False,False,False,False,False,False,True,False,True,True,False,False,False,True,True,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,False,True,True,False,True,False,False,False,False,False,True,False,False,False,False,False,False,True,True,True
2,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,False,True,True,False,True,True,False,False,False,False,True,False,False,False,False,False,False,True,True,True
4,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,True,False,False,False,True,True,False,False,False,False,False,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18511,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,True,True,False,False,False,False,False,False,True,True,True
18512,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,True,True
18513,False,False,False,False,True,False,False,False,False,False,False,False,True,False,True,True,False,False,False,True,True,False,False,False,False,False,False,True,True,True
18514,False,False,False,False,True,False,False,False,False,False,False,False,True,False,True,True,False,False,False,True,True,False,False,False,False,False,False,True,True,True
18515,False,False,False,False,False,False,False,False,False,False,False,True,True,False,True,False,False,False,False,False,True,False,False,False,False,False,False,True,True,True

In [98]:
df.isna().sum() # how many values missing per column

nr                        0
Artikelid                 0
Varnummer                 0
Namn                      0
Namn2                  3304
Pris_inkl_moms            0
Volym_i_ml                0
PrisPerLiter              0
Saljstart                 0
Utgått                    0
Varugrupp                 0
Typ                    7165
Stil                  15107
Forpackning              91
Forslutning           13058
Ursprung               4299
Ursprunglandnamn          0
Producent                94
Leverantor                0
Argang                 8359
Provadargang          18516
Alkoholhalt               0
Sortiment                 0
SortimentText           125
Ekologisk                 0
Etiskt                    0
Koscher                   0
RavarorBeskrivning    13252
Pant                  17742
EtisktEtikett         18452
dtype: int64

In [ ]:
df.loc[df.duplicated()] # show true if there is a duplicated value, loc shows this

Empty DataFrame
Columns: [nr, Artikelid, Varnummer, Namn, Namn2, Pris_inkl_moms, Volym_i_ml, PrisPerLiter, Saljstart, Utgått, Varugrupp, Typ, Stil, Forpackning, Forslutning, Ursprung, Ursprunglandnamn, Producent, Leverantor, Argang, Provadargang, Alkoholhalt, Sortiment, SortimentText, Ekologisk, Etiskt, Koscher, RavarorBeskrivning, Pant, EtisktEtikett]
Index: []

In [102]:
df.duplicated(subset=["Namn"]) # show if duplicated in subset (columns) Namn

0        False
1        False
2        False
3        False
4        False
         ...
18511     True
18512    False
18513    False
18514    False
18515     True
Length: 18516, dtype: bool

In [ ]:
df.loc[df.duplicated(subset=["Namn"])] # show duplicated rows, locate = loc

,nr,Artikelid,Varnummer,Namn,Namn2,Pris_inkl_moms,Volym_i_ml,PrisPerLiter,Saljstart,Utgått,Varugrupp,Typ,Stil,Forpackning,Forslutning,Ursprung,Ursprunglandnamn,Producent,Leverantor,Argang,Provadargang,Alkoholhalt,Sortiment,SortimentText,Ekologisk,Etiskt,Koscher,RavarorBeskrivning,Pant,EtisktEtikett
9,8998601,1000438,89986,Schlappeseppel,Hefe Weissbier,28.7,500.0,57.40,2015-09-01,0,Öl,Veteöl,Hefeweizen,Flaska,Kapsyl,NaN,Tyskland,Schlappeseppel GmbH,Dryckesboden Sverige AB,NaN,NaN,5.50%,BS,Övrigt sortiment,0,0,0,NaN,NaN,NaN
10,8993603,1000441,89936,Schlappeseppel,Pils,21.8,330.0,66.06,2015-09-01,0,Öl,Ljus lager,Pilsner - tysk stil,Flaska,Kapsyl,NaN,Tyskland,Schlappeseppel GmbH,Dryckesboden Sverige AB,NaN,NaN,5.10%,BS,Övrigt sortiment,0,0,0,NaN,NaN,NaN
11,8962103,1000444,89621,Schlappeseppel,Kellerbier,22.8,330.0,69.09,2015-09-01,0,Öl,Ljus lager,Zwickel / keller- och landbier,Flaska,Kapsyl,NaN,Tyskland,Schlappeseppel GmbH,Dryckesboden Sverige AB,NaN,NaN,5.50%,BS,Övrigt sortiment,0,0,0,NaN,NaN,NaN
14,7102401,1000940,71024,Château de Cazeneuve,Les Calcaires,221.0,750.0,294.67,2015-10-01,0,Rött vin,NaN,NaN,Flaska,NaN,Languedoc-Roussillon,Frankrike,Château de Cazeneuve,Sybaris - Wine & Spirits AB,2013.0,NaN,13.50%,BS,Övrigt sortiment,1,0,0,NaN,NaN,NaN
27,8797202,1003078,87972,Rhum Selection,Guatemala,555.0,500.0,1110.00,2015-10-01,0,Rom,Mörk rom,NaN,Flaska,NaN,NaN,Guatemala,Granqvist Beverage House AB,Granqvist Beverage House AB,NaN,NaN,45.00%,BS,Övrigt sortiment,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18506,7102101,999766,71021,Finca Rio Negro,Tempranillo Merlot Syrah Cabernet Sauvignon,184.0,750.0,245.33,2015-09-01,0,Rött vin,NaN,NaN,Flaska,Naturkork,Kastilien-La Mancha,Spanien,Meraven S.L.,Lancel AB,2013.0,NaN,14.00%,BS,Övrigt sortiment,0,0,0,NaN,NaN,NaN
18507,7358501,999810,73585,Jordan,Nine Yards Chardonnay,349.0,750.0,465.33,2015-09-01,0,Vitt vin,NaN,NaN,Flaska,Skruvkapsyl,Western Cape,Sydafrika,Jordan Winery,WineWorld AB,2016.0,NaN,13.00%,BS,Övrigt sortiment,0,0,0,NaN,NaN,NaN
18508,7194801,999850,71948,Au Bon Climat,Hildegard,429.0,750.0,572.00,2015-09-01,0,Vitt vin,NaN,NaN,Flaska,Naturkork,Kalifornien,USA,Au Bon Climat,Enjoy Wine & Spirits AB,2013.0,NaN,13.50%,BS,Övrigt sortiment,0,0,0,NaN,NaN,NaN
18511,8521301,999957,85213,Glengoyne,25 Years,3999.0,700.0,5712.86,2015-09-01,0,Whisky,Maltwhisky,NaN,Flaska,NaN,Skottland,Storbritannien,Ian Macleod,Cask Sweden AB,NaN,NaN,48.00%,BS,Övrigt sortiment,0,0,0,NaN,NaN,NaN
18515,7467206,999995,74672,Girard,Old Vine Zinfandel,465.0,1500.0,310.00,2015-09-01,0,Rött vin,NaN,NaN,Magnum,NaN,Kalifornien,USA,Girard,Terrific Wines AB,2014.0,NaN,15.00%,BS,Övrigt sortiment,0,0,0,NaN,NaN,NaN

In [107]:
df.query('Namn == "Schlappeseppel"') # showing example duplicate

,nr,Artikelid,Varnummer,Namn,Namn2,Pris_inkl_moms,Volym_i_ml,PrisPerLiter,Saljstart,Utgått,Varugrupp,Typ,Stil,Forpackning,Forslutning,Ursprung,Ursprunglandnamn,Producent,Leverantor,Argang,Provadargang,Alkoholhalt,Sortiment,SortimentText,Ekologisk,Etiskt,Koscher,RavarorBeskrivning,Pant,EtisktEtikett
8,8996703,1000435,89967,Schlappeseppel,Dunkel,21.8,330.0,66.06,2015-09-01,0,Öl,Mörk lager,Dunkel,Flaska,Kapsyl,NaN,Tyskland,Schlappeseppel GmbH,Dryckesboden Sverige AB,NaN,NaN,5.20%,BS,Övrigt sortiment,0,0,0,NaN,NaN,NaN
9,8998601,1000438,89986,Schlappeseppel,Hefe Weissbier,28.7,500.0,57.40,2015-09-01,0,Öl,Veteöl,Hefeweizen,Flaska,Kapsyl,NaN,Tyskland,Schlappeseppel GmbH,Dryckesboden Sverige AB,NaN,NaN,5.50%,BS,Övrigt sortiment,0,0,0,NaN,NaN,NaN
10,8993603,1000441,89936,Schlappeseppel,Pils,21.8,330.0,66.06,2015-09-01,0,Öl,Ljus lager,Pilsner - tysk stil,Flaska,Kapsyl,NaN,Tyskland,Schlappeseppel GmbH,Dryckesboden Sverige AB,NaN,NaN,5.10%,BS,Övrigt sortiment,0,0,0,NaN,NaN,NaN
11,8962103,1000444,89621,Schlappeseppel,Kellerbier,22.8,330.0,69.09,2015-09-01,0,Öl,Ljus lager,Zwickel / keller- och landbier,Flaska,Kapsyl,NaN,Tyskland,Schlappeseppel GmbH,Dryckesboden Sverige AB,NaN,NaN,5.50%,BS,Övrigt sortiment,0,0,0,NaN,NaN,NaN
12812,8124101,4586234,81241,Schlappeseppel,Helles Bayrich mild,27.8,500.0,55.60,2017-08-08,0,Öl,Ljus lager,Dortmunder och helles,Flaska,Kapsyl,NaN,Tyskland,Eder & Heylands Brauerei G...,Dryckesboden Sverige AB,NaN,NaN,4.80%,BS,Övrigt sortiment,0,0,0,NaN,NaN,NaN